.hero {
	position: relative;
    height: 100vh;
    /* width: 100vw; */
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;

    
	/* width: calc(100%); */
	/* height: 100%; */
    background-image:url('../wdf24/imgs/curtain-background.svg');
    background-size:100vw;
    background-color: #8F2215;

}

.sbclLogo{
    padding-top: 10vh;

}



.hero-tagline{
    padding-top: 20px;

    color: #FFF;
    text-align: center;
    font-family: Phudu;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-banner{
    margin-top: 20px;
    display: inline-flex;
    flex-direction: column;
    padding:40px;
    /* justify-content: center; */
    position: relative;
    background-image:url('../wdf24/imgs/HeroBannerBg.svg');
    background-repeat: no-repeat;
    height:350px;
    width:650px;
    align-items: center;
    background-size: contain;


}

.wdf-title{
    left: 50%;
    color: #000;
    text-align: center;
    
    font-family: Phudu;
    font-size: 76px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.wdf-date{
    color: #000;
    text-align: center;
    font-family: Phudu;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.button-section{
    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
}

.button-container {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}




.button {
    display: inline-flex;
    height: 48px;
    padding: 14px 30px 14px 29px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    
    color: #FFFAF0;
    text-align: center;
    font-family: Phudu;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
    
    border-radius: 100px;
    background: #BA2F2C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.button-des{

    color: #FFF;
    text-align: center;
    font-family: Phudu;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.down-button{
    padding-top: 20px;
    padding-bottom: 30px;
}