* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9efe3;
}

/* Landing page */
.hero-section {
  width: 100%;
  min-height: 110vh;
  background: url("../images/1958-UC-Santa-Barbara.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 2rem;
  margin-bottom: 100px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-top: 24px;
  position: absolute;
  top: 600px;
}

.button-link {
  text-decoration: none;
}

.button-background {
  width: 340px;
  height: 70px;
  background: rgba(202,152,63,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  width: 100%;
  color: rgba(58,58,58,1);
  font-family: Abhaya Libre ExtraBold;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
}

.tagline {
  width: 100%;
  color: rgba(202,152,63,1);
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);

  text-shadow: 0px 17px 4px rgba(0, 0, 0, 0.25);
  font-family: Bevan;
  font-weight: Regular;
  font-size: 120px;
  opacity: 1;
  text-align: center;
}

.subtitle{
  width: 100%;
  color: rgba(245,228,200,1);
  position: absolute;
  top: 100px;
  font-family: Abhaya Libre ExtraBold;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

/* Prompt section */
.prompt-section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.prompt-image {
  width: 100%;
  max-width: 1400px;   /* controls desktop size */
  height: auto;       /* preserves aspect ratio */
  display: block;
}

/* RUBRIC SECTION */
.rubric-section {
  padding: 1rem 1rem;
  color: #fff;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.rubric-heading {
  display: inline-block;
  margin: 0 auto 2rem;
  padding: 2.5rem 2.5rem;

  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;

  color: #323232;

  background-image: url("../images/ticket.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border-radius: 0px;
}

/* TABLE LAYOUT */
.rubric-table {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;

  background-color: #c24e2c;
  padding: 3rem;
  border-radius: 30px;

  text-align: left;
}

/* HEADER */
.rubric-header {
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr);
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 1rem;
  gap: 1rem;
}

.mobile-rubric-header {
  display: none;
}

/* ROWS */
.rubric-row {
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr);
  gap: 1rem;
}

/* row grids */
.rubric-row:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1rem;
}

.rubric-row h3 {
  font-size: 1.1rem;
}

.rubric-row p {
  font-size: 1.0rem;
}