* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9efe3;
}

/* FONT */
.bevan-regular {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
}

.bevan-regular-italic {
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: italic;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}


/* Landing page */
.hero-section {
  width: 100%;
  min-height: 110vh;
  background: url("../images/1958-UC-Santa-Barbara.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 2rem;
  margin-bottom: 100px;
}

.tagline {
  width: 100%;
  color: rgba(202,152,63,1);
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);

  text-shadow: 0px 17px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(1.5rem, 6vw + 1rem, 8rem);
  opacity: 1;
  text-align: center;
}

.subtitle{
  width: 100%;
  color: rgba(245,228,200,1);
  position: absolute;
  top: 100px;
  font-size: clamp(0.65rem, 1.5vw + 0.75rem, 1.75rem);
  opacity: 1;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  margin-top: 24px;
  position: absolute;
  top: 600px;
}

.button-link {
  text-decoration: none;
}

.button {
  font-size: clamp(0.8rem, 0.8vw + 0.9rem, 1.75rem);
  color: rgba(58,58,58,1);
  text-align: center;
  padding: clamp(0.8rem, 0.8vw, 0.8rem)
          clamp(4rem, 1vw, 20rem);

  background: rgba(202,152,63,1);
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

/* PROMPT SECTION */
.prompt-section {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.prompt-image {
  width: 100%;
  max-width: 1400px;   /* controls desktop size */
  height: auto;       /* preserves aspect ratio */
  display: block;
}

/* RUBRIC SECTION */
.rubric-section {
  padding: 1rem 1rem;
  color: #fff;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

.rubric-heading {
  display: inline-block;
  margin: 0 auto 2rem;
  padding: clamp(1.8rem, 2vw + 1rem, 2.5rem) clamp(1.8rem, 2vw + 1rem, 2.5rem);

  font-size: clamp(1.8rem, 2vw + 1rem, 3.5rem);
  text-align: center;
  color: #323232;

  background-image: url("../images/ticket.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  border-radius: 0px;
}

/* TABLE LAYOUT */
.rubric-table {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;

  background-color: #c24e2c;
  padding: 3rem;
  border-radius: 30px;

  text-align: left;
}

/* HEADER */
.rubric-header {
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr);
  font-size: 1.1rem;
  /* font-weight: bold; */
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 1rem;
  gap: 1rem;
}

.mobile-rubric-header {
  display: none;
}

/* ROWS */
.rubric-row {
  display: grid;
  grid-template-columns: 1.2fr repeat(4, 1fr);
  gap: 1rem;
}

/* row grids */
.rubric-row:not(:last-child) {
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1rem;
}

.rubric-row h3 {
  font-size: 1.1rem;
}

.rubric-row p {
  font-size: 1.0rem;
}