@media (max-width: 1280px) {
    .hero-section {
        padding: 4rem 2rem;
    }

    .rubric-table {
        padding: 2.5rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 3rem 1rem;
    }

    .tagline {
        top: 150px;
    }

    .buttons-container {
        gap: 30px;
    }

    .rubric-header {
        display: none;
    }

    .mobile-rubric-header {
        display: block;
        text-align: left;
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
        color: #fff;
    }

    .rubric-table {
        padding: 2rem;
    }

    .rubric-row {
        grid-template-columns: 1fr;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1.5rem;
        border-radius: 16px;
    }

    .rubric-row h3 {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 480px) {
    .hero-section {
        margin-bottom: 100px;
    }
    
    .buttons-container {
        top: 350px;
        gap: 15px;
    }

    .prompt-section {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .rubric-section {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .rubric-heading {
        font-size: 2.5rem;
    }

}

