@media (max-width: 1200px) {
    .hero-section {
        padding: 4rem 2rem;
    }

    .subtitle {
        font-size: 28px;
        margin-top: 10px;
    }

    .tagline {
        font-size: 90px;
        margin-top: 10px;
    }

    .button-background{
        width: 300px;
        height: 60px;
    }

    .button-text {
        font-size: 28px;
    }

    .rubric-table {
        padding: 2.5rem;
    }
}

@media (max-width: 900px) {
    .hero-section {
        padding: 3rem 1rem;
    }

    .subtitle {
        font-size: 24px;
        margin-top: 20px;
    }

    .tagline {
        font-size: 70px;
        margin-top: 20px;
    }

    .button-background{
        width: 300px;
        height: 60px;
    }

    .button-text {
        font-size: 24px;
    }

    .rubric-header {
        display: none;
    }

    .mobile-rubric-header {
        display: block;
        text-align: left;
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
        color: #fff;
    }

    .rubric-table {
        padding: 2rem;
    }

    .rubric-row {
        grid-template-columns: 1fr;
        background-color: rgba(255, 255, 255, 0.1);
        padding: 1.5rem;
        border-radius: 16px;
    }

    .rubric-row h3 {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 600px) {
    .hero-section {
        margin-bottom: 100px;
    }

    .subtitle {
        margin-top: 10px;
        font-size: 20px;
    }

    .tagline {
        margin-top: 0px;
        font-size: 48px;
    }

    .buttons-container {
        top: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .button-background {
        width: 170px;
        height: 40px;
        text-align: center;
    }

    .button-text {
        font-size: 18px;
    }

    .prompt-section {
        margin-top: 0px;
        margin-bottom: 100px;
    }

    .rubric-section {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .rubric-heading {
        font-size: 2.5rem;
    }

}

