html {
  font-size: 0.0661vw;
}

.full-page {
	position: absolute;
	width: 100%;
	height: 2000px;

	background: #E8DED1;
}

.scroll-view {
	position: absolute;
	top: 77px;
	left: 84px;
}

.section-0 {
	position: relative;
	top: 0;
	left: 0;

	height: 901px;
	width: calc(100vw - 77px - 7px);

	border-bottom: 1px solid black;
}

.noise-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;

	background-image: url("./imgs/noise.png");
	mix-blend-mode: overlay;
	pointer-events: none;

	z-index: 5;
}

.background-circles-1 {
	position: absolute;
	width: 770px;
	height: 1091px;
	left: 26px;
	top: 480px;
}

.background-circles-2 {
	position: absolute;
	width: 392px;
	height: 531px;
	right: 0px;
	top: 0px;
}

@font-face {
	font-family: "Basteleur";
	src: url("./fonts/Basteleur-Moonlight.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Pilowlava";
	src: url("./fonts/Pilowlava-Regular.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Neutral Face";
	src: url("./fonts/NeutralFace.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Neutral Face";
	src: url("./fonts/NeutralFace-Bold.otf") format('opentype');
	font-weight: normal;
	font-weight: bold;
}