.full-page {
	position: absolute;
	width: 100%;
	height: 100%;

	background: #E8DED1;
}

@font-face{
  font-family: "Basteleur";
  src: url("./fonts/Basteleur-Moonlight.otf") format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: "Pilowlava";
  src: url("./fonts/Pilowlava-Regular.otf") format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: "Neutral Face";
  src: url("./fonts/NeutralFace.otf") format('opentype');
  font-weight: normal;
}

@font-face{
  font-family: "Neutral Face";
  src: url("./fonts/NeutralFace-Bold.otf") format('opentype');
  font-weight: normal;
  font-weight: bold;
}