html {
  font-size: 0.0661vw;
  scroll-padding-top: 77px;
}

.full-page {
	position: absolute;
	width: 100%;
	height: 8000px;

	overflow-x: hidden;
}

.scroll-view {
	position: absolute;
	top: 77px;
	left: 84px;
}

.section {
	position: relative;
	top: 0;
	left: 0;
	width: calc(100vw - 77px - 7px);

	border-bottom: 1px solid black;
}

.section-background {
	width: 100%;
	height: 100%;
	position: absolute;

	z-index: -1;
}

.section-0 {
	height: 901px;
}

.section-0-background {
	background: #E8DED1;
}

.section-1 {
	height: 901px;
}

.section-1-background {
    background: #FBF2E6;
}

.section-2 {
	height: 871px;
}

.section-2-background {
    background: #E8DED1;
}

.section-3 {
	height: 922px;
}

.section-3-background {
    background: #FBF2E6;
}

.section-4 {
	height: 933px;
}

.section-4-background {
    background: #E8DED1;
}

.section-5 {
	height: 922px;
}

.section-5-background {
    background: #FBF2E6;
}

.section-6 {
	height: 935px;
}

.section-6-background {
	background: #E8DED1;
}

.noise-background {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;

	background-image: url("./imgs/noise.png");
	mix-blend-mode: overlay;
	pointer-events: none;
}

.background-circles-1 {
	position: absolute;
	width: 770px;
	height: 1091px;
	left: 26px;
	top: 480px;
}

.background-circles-2 {
	position: absolute;
	width: 392px;
	height: 531px;
	right: 0px;
	top: 0px;
}

.background-circles-3 {
	position: absolute;
	width: 717px;
	height: 869px;
	left: -16px;
	top: 2170px;
}

.background-circles-4 {
	position: absolute;
	width: 568px;
	height: 762px;
	right: -62px;
	top: 1813px;
}

.background-circles-5 {
	position: absolute;
	width: 531px;
	height: 807px;
	right: 0px;
	top: 3222px;
}

.background-circles-6 {
	position: absolute;
	width: 605px;
	height: 762px;
	left: 38px;
	top: 4032px;
}

.background-circles-7 {
	position: absolute;
	width: 758px;
	height: 807px;
	right: -33px;
	top: 4373px;
}

.background-circles-8 {
	position: absolute;
	width: 525px;
	height: 762px;
	left: -17px;
	top: 5131px;
}

.background-circles-9 {
	position: absolute;
	width: 606px;
	height: 942px;
	right: -72px;
	top: 6021px;
}

@font-face {
	font-family: "Basteleur";
	src: url("./fonts/Basteleur-Moonlight.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Pilowlava";
	src: url("./fonts/Pilowlava-Regular.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Neutral Face";
	src: url("./fonts/NeutralFace.otf") format('opentype');
	font-weight: normal;
}

@font-face {
	font-family: "Neutral Face";
	src: url("./fonts/NeutralFace-Bold.otf") format('opentype');
	font-weight: bold;
}

@font-face {
	font-family: "Migra";
	src: url("./fonts/Migra-Extralight.otf") format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Migra";
	src: url("./fonts/MigraItalic-ExtralightItalic.otf") format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Migra";
	src: url("./fonts/Migra-Extrabold.otf") format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Migra";
	src: url("./fonts/MigraItalic-ExtraboldItalic.otf") format('opentype');
	font-weight: bold;
	font-style: italic;
}