.prompts-title {
    position: absolute;
    width: 218px;
    height: 43px;
    left: 65px;
    top: 55px;

    font-family: 'Pilowlava';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;

    color: #000000;
}

.prompts-subtitle {
    position: absolute;
    width: 761px;
    height: 23px;
    left: 68px;
    top: 113px;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 23px;

    color: #000000;
}

.prompts-footer {
    position: absolute;
    width: 718px;
    height: 54px;
    left: 66px;
    bottom: 35px;

    font-family: 'Migra';
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 27px;

    color: #000000;
}

.prompt-boxes {
    position: absolute;
    top: 188px;
    width: 100%;
    height: 583px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.album-cover-container {
    width: 450px;
    height: 583px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album-cover-box {
    box-sizing: border-box;

    width: 450px;
    height: 514px;

    border: 2px solid #421813;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.album-cover-title-container {
    position: absolute;
    width: 243px;
    height: 33px;
    top: 31px;
}

.album-cover-title-text {
    position: absolute;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    text-align: center;

    color: #8C3613;
}

.album-cover-title-star {
    position: absolute;
    width: 55px;
    height: 55px;
    top: -14px;
    left: -19px;
}

.album-cover-title-text-alt {
    color: #FBF2E6;
}

.album-cover-description {
    position: absolute;
    width: 415px;
    height: 117px;
    top: 136px;

    font-family: 'Migra';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #421813;
}

.album-cover-description-alt-1 {
    font-weight: bold;
}

.album-cover-description-alt-2 {
    font-style: italic;
}

.album-cover-note {
    position: absolute;
    width: 392px;
    height: 87px;
    top: 368px;

    font-family: 'Migra';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;

    color: #421813;
}

.album-cover-footer-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.illustration-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 225px;
    height: 49px;

    background: #B6691F;
    border: 2px solid #441A15;
}

.illustration-text {
    width: 205px;
    height: 29px;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;

    text-align: center;

    color: #FBF2E6;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.multimedia-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 196px;
    height: 49px;

    background: #B6691F;
    border: 2px solid #441A15;
}

.multimedia-text {
    width: 176px;
    height: 29px;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;

    text-align: center;

    color: #FBF2E6;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.album-cover-deco {
    width: 450px;
    height: 583px;
    position: absolute;
}

.album-cover-star-1 {
    position: absolute;
    width: 39px;
    height: 61px;
    left: -17px;
    top: 26px;
}

.album-cover-star-2 {
    position: absolute;
    width: 63px;
    height: 100px;
    left: -81px;
    bottom: 0px;
}

.music-fest-container {
    width: 450px;
    height: 583px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.music-fest-box {
    box-sizing: border-box;

    width: 450px;
    height: 514px;

    border: 2px solid #421813;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-fest-title-container {
    position: absolute;
    width: 395px;
    height: 33px;
    top: 31px;
}

.music-fest-title-star {
    position: absolute;
    width: 55px;
    height: 55px;
    top: -14px;
    left: -13px;
}

.music-fest-title-text {
    position: absolute;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    text-align: center;

    color: #8C3613;
}

.music-fest-title-text-alt {
    color: #FBF2E6;
}

.music-fest-description {
    position: absolute;
    width: 384px;
    height: 78px;
    top: 136px;

    font-family: 'Migra';
    font-style: normal;
    font-weight: 200;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    color: #421813;
}

.music-fest-description-alt-1 {
    font-weight: bold;
}

.music-fest-description-alt-2 {
    font-style: italic;
}

.music-fest-note {
    position: absolute;
    width: 392px;
    height: 58px;
    top: 368px;

    font-family: 'Migra';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;

    color: #421813;
}

.graphic-design-box {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 266px;
    height: 49px;
    bottom: 0px;

    background: #B6691F;
    border: 2px solid #441A15;
}

.graphic-design-text {
    width: 246px;
    height: 29px;

    font-family: 'Neutral Face';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 29px;

    text-align: center;

    color: #FBF2E6;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.music-fest-deco {
    width: 450px;
    height: 583px;
    position: absolute;
}

.music-fest-star-1 {
    position: absolute;
    width: 39px;
    height: 61px;
    right: -28px;
    top: 196px;
}