.topbar {
	box-sizing: border-box;

	position: fixed;
	width: 100vw;
	height: 77px;
	left: 0px;
	top: 0px;

	background: #E8DED1;
	border-bottom: 1px solid #201E29;
}

.corner-logo {
	position: absolute;
	width: 55.76px;
	height: 58.81px;
	left: 12.14px;
	top: 8px;

	background-image: url('./imgs/logo-black.png');
	background-size: cover;
}

.logo-separator {
	position: absolute;
	height: 77px;
	width: 0px;
	left: 83.25px;
	top: 0px;

	border: 0.5px solid #000000;
}

.quarter-text {
	position: absolute;
	width: 141px;
	height: 62px;
	left: 110px;
	top: 9px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 31px;
	text-align: center;

	color: #201E29;
}

.quarter-separator {
	position: absolute;
	height: 77px;
	width: 0px;
	left: 280px;
	top: 0px;

	border: 0.5px solid #000000;
}

.tagline-text {
	position: absolute;
	width: 633px;
	height: 41px;
	right: 24px;
	top: 21px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 700;
	font-size: 42px;
	line-height: 41px;
	/* identical to box height */
	text-align: center;

	color: #000000;
}