.workshops-title {
	position: absolute;
	width: 283px;
	height: 43px;
	left: 66px;
	top: 51px;

	font-family: 'Pilowlava';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 43px;

	color: #000000;
}

.workshop-1-title {
	position: absolute;
	width: 696px;
	height: 79px;
	left: 66px;
	top: 151px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 95px;
	line-height: 99px;

	color: #000000;
}

.workshop-1-subtitle {
	position: absolute;
	width: 520px;
	height: 33px;
	left: 66px;
	top: 230px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 33px;

	color: #8E8E8E;
}

.workshop-1-lead {
	position: absolute;
	width: 303px;
	height: 46px;
	left: 66px;
	top: 293px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 31px;

	color: #000000;
}

.workshop-1-info {
	position: absolute;
	width: 706px;
	height: 99px;
	left: 66px;
	top: 371px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 33px;

	color: #000000;
}

.workshop-2-title {
	position: absolute;
	width: 717px;
	height: 134px;
	left: 66px;
	top: 507px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 65px;
	line-height: 67px;

	color: #000000;
}

.workshop-2-subtitle {
	position: absolute;
	width: 518px;
	height: 33px;
	left: 66px;
	top: 628px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 33px;

	color: #F4F4F4;
}

.workshop-2-lead {
	position: absolute;
	width: 278px;
	height: 46px;
	left: 66px;
	top: 680px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 31px;

	color: #000000;
}

.workshop-2-info {
	position: absolute;
	width: 706px;
	height: 99px;
	left: 66px;
	top: 749px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 33px;

	color: #000000;
}

.workshop-lead-italic {
	font-family: 'Migra';
	font-weight: 200;
	font-style: italic;
	font-size: 38px;
	line-height: 46px;
}

.workshop-note {
	position: absolute;
	width: 514px;
	height: 132px;
	right: 48px;
	top: 51px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 33px;
	text-align: right;

	color: #000000;
}

.workshop-note-2 {
	position: absolute;
	width: 117px;
	height: 31px;
	right: 48px;
	top: 198px;

	font-family: 'Neutral Face';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 31px;
	text-align: right;

	color: #000000;
}

.finn-img {
	position: absolute;
	width: 278px;
	height: 195px;
	right: 30px;
	bottom: 35px;
}