.faq-container {
    padding: 10vmin;
    background-color: #FFE2DE;
    
    display: flex;
    flex-direction: column;
    gap: 10vmin;
    width: 100%;
}

.faq-title {
    width: 50%;
    padding-left: 10vmin;
}

.faq-content {
    width: 100%;
}