.hero {
    position: relative;
}

.hero-background {
    background-color: #527983;
    padding: 6vmin;
    padding-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
}

.hero-image {
    width: 100%;
}

.date-frame {
    position: absolute;
    top: 50vmin;
    width: 4.5vmin;
    left: 10vmin;
}

.apply-now {
    position: absolute;
    bottom: -5vmin;
    width: 80vmin;
    right: 10vmin;
    transition: .5s;
}

/* .apply-now:hover {
    opacity:0;
} */

.apply-now-hover {
    position: absolute;
    bottom: -5vmin;
    width: 80vmin;
    right: 10vmin;
}

.apply-button {
    position: absolute;
    bottom: 208px;
    margin-left: 692px;
    width: 577.14px;
    height: 58.25px;
    transition: .5s;
}

/* .apply-button:hover {
    opacity: 0;
}

.apply-button-container:hover .apply-now {
    opacity: 0;
} */

.apply-button-container:hover .apply-button {
    opacity: 0;
}

.apply-button-container:hover .apply-now {
    opacity: 0;
}

.apply-button-overlay {
    position: absolute;
    bottom: 214px;
    margin-left: 730px;
    width: 502px;
    height: auto;
}







