.hero {
    position: relative;
}

.hero-background {
    background-color: #527983;
    padding: 6vmin;
    padding-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
}

.hero-image {
    width: 100%;
}

.date-frame {
    position: absolute;
    top: 50vmin;
    width: 4.5vmin;
    left: 10vmin;
}

.apply-now-btn {
    position: absolute;
    bottom: 38vmin;
    right: 10vmin;
}

.apply-now {
    position: absolute;
    bottom: -5vmin;
    width: 80vmin;
    right: 10vmin;
    transition: .5s;
}

/* .apply-now:hover {
    opacity:0;
} */

.apply-now-hover {
    position: absolute;
    bottom: -5vmin;
    width: 80vmin;
    right: 10vmin;
}

.apply-button {
    position: absolute;
    bottom: 208px;
    margin-left: 692px;
    width: 577.14px;
    height: 58.25px;
    transition: .5s;
}

/* .apply-button:hover {
    opacity: 0;
}

.apply-button-container:hover .apply-now {
    opacity: 0;
} */

.apply-button-container:hover .apply-now-btn {
    opacity: 0;
}

.apply-button-container:hover .apply-now {
    opacity: 0;
}

.apply-button-overlay {
    position: absolute;
    /* bottom: 214px;
    margin-left: 730px; */
    bottom: 39.2vmin;
    right: 10.7vmin;
    /* width: 502px; */
    height: auto;
}

.view-prompt-overlay {
    position: absolute;
    width: 310px;
    height: 60px;
    left: 915px;
    top: 760px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.view-prompt {
    position: absolute;
    width: 420px;
    height: 60px;
    left: 860px;
    top: 760px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.view-prompt-container:hover .view-prompt {
    opacity: 0;
}






