.FAQs-frame {
    background-color: #2F302D;
    margin-bottom: 15%;
    padding: 0 8%;
}

.FAQs-header {
    background: top / 100% no-repeat url(../../images/s23_images/faqs-header-deco.svg);
    font-size: 3.75em;
    line-height: 70px;
    padding: 3% 0;
    text-align: center;
}

.FAQs-question {
    letter-spacing: 0.03em;
    line-height: 47px;
    font-size: 2.5vw;
    font-weight: 800;
    margin-top: 4%;
}

.FAQs-question > b {
    color: #B8E1D1;
}

.FAQs-answer {
    font: normal 1.6vw/31px "PP Object Sans";
    letter-spacing: 0.03em;
    width: 88%;
}