.judges {
    background: left / auto 100% no-repeat url(../../images/s23_images/judges-background.svg);
    height: 48vw;
}

.judges-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #2F302D;
	z-index: -3;
}

.judges-frame {
    padding: 4vw 4% 0 24%;
}

.judges-header {
    height: 7.5vw;
    position: relative;
    text-align: right;
}

.judges-header > img {
    position: absolute;
    right: 5%;
    width: 42%;
}

.judges-grid {
    column-gap: 2%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 12vw);
}

.judges-cell {
    display: grid;
}

.judges-cell-1 {
    grid-area: 1/1/3/2;
}

.judges-cell-2 {
    grid-area: 2/2/4/3;
}

.judges-cell-3 {
    grid-area: 1/3/3/4;
}

.judges-cell > img {
    width: 100%;
}

.judges-desc {
    background-color: #1173D9;
    margin: -12% auto 0;
    padding: 0.5vw 1vw;
    text-align: center;
    width: fit-content;
}

.judges-name {
    font: 800 1.4vw/2vw 'PP Object Sans';
    margin: 0;
}

.judges-position {
    font: 1vw/1.25vw 'PP Object Sans';
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .judges {
        background: left / 100% auto no-repeat url(../../images/s23_images/phone_view/judges-background-phone.svg);
        height: 100%;
    }

    .judges-frame {
        padding: 2.4em 8%;
    }

    .judges-header {
        height: 16vw;
        position: relative;
    }
    
    .judges-header > img {
        position: absolute;
        width: 66%;
    }

    .judges-grid {
        row-gap: 3em;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: unset;
    }

    .judges-cell {
        position: relative;
    }

    .judges-cell > img {
        width: 66%;
    }

    .judges-cell-left > .judges-desc {
        right: 30%;
    }

    .judges-cell-right {
        justify-items: right;
    }

    .judges-cell-right > .judges-desc {
        left: 30%;
    }

    .judges-desc {
        background-color: #8151FB;
        padding: 4.8px 9.6px;
        position: absolute;
        text-align: center;
        top: 90%;
        width: fit-content;
    }

    .judges-name {
        font: 800 12.8px/16.64px 'PP Object Sans';
        margin: 0;
    }

    .judges-position {
        font: 9.6px/12.48px 'PP Object Sans';
        margin: 0;
    }
}