.prizes {
    position: relative;
}

.prizes-background {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #E1DBD2;
    z-index: -3;
}

.prizes-frame {
    padding: 4em;
}

.prizes-header {
    height: fit-content;
    text-align: center;
}

.prizes-grid {
    display: flex;
    margin-top: 6em;
}

.prizes-grid-box {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.prizes-grid-box > p {
    align-self: center;
    font: bold 1.2em/1.2em 'PP Object Sans';
    padding: 0.5em;
    text-align: center;
    width: fit-content;
}

.prizes-grid-box-intermediate > p {
    background: #1173D9;
}

.prizes-grid-box-beginner > p {
    background: #46C2C0;
}

.prizes-grid-box-winner > p {
    background: #E5889D;
}

.prizes-desc {
    position: relative;
}

/* .prizes-desc > * {
    position: absolute;
} */

.prizes-placement {
    width: 5%;
}

.prizes-img{
    width: 40%;
}

.prizes-desc > p {
    color: #2F302D;
}