.timeline {
	position: relative;
}

.timeline-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #E5E5E5;
	z-index: -1; /* higher index here since noise doesn't look good on light backgrounds */
}

.timeline-container {
	position: relative;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timeline-side-deco {
	width: 21%;
}

.timeline-phone {}

.timeline-content {
	width: 79%;

	padding-left: 3%;
	padding-right: 4.5%;

	display: flex;
	flex-direction: column;
}

.timeline-header {
	margin-top: 3%;
	margin-right: 3%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.timeline-title {
	width: 18vw;
}

.timeline-gcal {
	height: 3.4vw;

	box-sizing: border-box;
	border: 0.25vw solid #8151FB;
	border-radius: 1vw;

	transition: border 0.3s;

	cursor: pointer;
}

.timeline-gcal:hover {
	border: 2px solid #623dc0;
	text-decoration: none;
}

.timeline-gcal-text {
	width: 100%;
	height: 100%;
	padding: 1.5% 14px;

	font-family: 'PP Object Sans';
	font-style: normal;
	font-weight: 800;
	font-size: 1.67vw;
	text-align: center;
	letter-spacing: 0.03em;

	color: #8151FB;

	transition: color 0.3s;
}

.timeline-gcal-text:hover {
	color: #623dc0;
}

@media only screen and (max-width: 600px) {
	.timeline-gcal-text {
		padding: 0 8px;
	}
}