:root {
    --speakers-teal: #46C2C0;
    --speakers-blue: #1173D9;
    --speakers-pink: #EDB2D0;
    --speakers-purple: #8151FB;
}

.speakers {
    /* background: right / auto 100% no-repeat url(../../images/s23_images/speakers-background.svg); */
    /* height: 56.5vw; */
}

.speakers-background {
	position: absolute;
	width: 100%;
	height: 100%;

	background-color: #2F302D;
	z-index: -3;
}

.speakers-frame {
    padding: 4vw 8%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
}

.speakers-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.speakers-header {
    color: #2F302D;
    font-family: Magilio;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.speakers-header-teal {
    text-stroke: 3px var(--speakers-teal);
    -webkit-text-stroke: 3px var(--speakers-teal);
}

.speakers-header-blue {
    text-stroke: 3px var(--speakers-blue);
    -webkit-text-stroke: 3px var(--speakers-blue);
}

.speakers-header-pink {
    text-stroke: 3px var(--speakers-pink);
    -webkit-text-stroke: 3px var(--speakers-pink);
}

.speakers-row {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    
    flex-wrap: wrap;
}

.speakers-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: -22.4px; */
}

.speakers-profile {
    width: 208px;
    height: 208px;
    
    border-radius: 240px;
    
    margin-bottom: -28px;
}

.speakers-profile-teal {
    border: 2px solid var(--speakers-teal);
}

.speakers-profile-blue {
    border: 2px solid var(--speakers-blue);
}

.speakers-profile-purple {
    border: 2px solid var(--speakers-purple);
}

.speakers-desc {
    display: flex;
    flex-direction: column;
    width: 239.2px;
    /* height: 80.376px; */
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    /* gap: 6px; */
    flex-shrink: 0;
}

.speakers-desc-teal {
    background: var(--speakers-teal);
}

.speakers-desc-blue {
    background: var(--speakers-blue);
}

.speakers-desc-purple {
    background: var(--speakers-purple);
}

.speakers-name {
    text-align: center;
    font-family: "PP Object Sans";
    font-size: 16.8px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.504px;
}

.speakers-info {
    font-family: "PP Object Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
}

.speakers-workshop {
    font-family: "PP Object Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.36px;
}

.speakers-text-dark {
    color: #2F302D;
}

.speakers-text-light {
    color: #D9D9D9;
}

@media only screen and (max-width: 600px) {
    .speakers {
        background: right / 100% auto no-repeat url(../../images/s23_images/phone_view/speakers-background-phone.svg);
        height: 100%;
    }

    .speakers-frame {
        padding: 2.4em 8%;
    }

    .speakers-header {
        height: 16vw;
        position: relative;
    }
    
    .speakers-header > img {
        position: absolute;
        width: 66%;
    }

    .speakers-grid {
        row-gap: 3em;
        display: grid;
    }

    .speakers-cell > img {
        width: 66%;
    }

    .speakers-cell-left > .speakers-desc {
        right: 30%;
    }

    .speakers-cell-right {
        text-align: right;
    }

    .speakers-cell-right > .speakers-desc {
        left: 30%;
    }

    .speakers-desc {
        background-color: #8151FB;
        padding: 4.8px 9.6px;
        position: absolute;
        text-align: center;
        top: 90%;
        width: fit-content;
    }

    .speakers-name {
        font: 800 12.8px/16.64px 'PP Object Sans';
        margin: 0;
    }

    .speakers-position {
        font: 9.6px/12.48px 'PP Object Sans';
        margin: 0;
    }
}