@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);

@font-face {
  font-family: 'Cooper Black';
  src: url(./fonts/CooperBlack/CooperBlackRegular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MADE Soulmaze Brush';
  src: url(./fonts/MADESoulmaze/MADESoulmazeBrush.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Neutral Face';
  src: url(./fonts/NEUTRALFACE/NeutralFace.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Neutral Face';
  src: url(./fonts/NEUTRALFACE/NeutralFace-Bold.otf) format('opentype');
  font-weight: bold;
}

.w23projects {
  background-color: #192022;
  color: white;
  scroll-behavior: smooth;
}

.title-section {
  background-image: url(./images/projects/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1113px;
}

.header {
  display: flex;
  padding: 2.5% 1.5% 8%;
}

.logo-wrapper {
  height: 64px;
  margin: 10px 0 0 0;
  width: 64px;
}

.nav {
  display: flex;
  font: 32px 'Poppins';
  justify-content: space-between;
  margin: auto;
  width: 30%;
}

.nav a:link,
.nav a:visited {
  background-color: transparent;
  color: white;
  text-decoration: none;
}

.title-container {
  display: flex;
  margin: auto 4.5%;
}

.title {
  font: 600 calc(100vw * 0.03) 'Poppins';
}

.title strong {
  font: bold calc(100vw * 0.10)/146.7px 'Neutral Face';
  text-transform: uppercase;
}

.title-skill-1 {
  font: normal 48px/63px 'MADE Soulmaze Brush';
  position: absolute;
  left: calc(73vw);
  top: calc(40vh);
  transform: matrix(0.97, -0.25, 0.24, 0.97, 0, 0);
}

.title-skill-2 {
  font: normal 48px/63px 'MADE Soulmaze Brush';
  position: absolute;
  left: calc(71vw);
  top: calc(47vh);
  transform: matrix(0.97, -0.25, 0.24, 0.97, 0, 0);
}

.title-skill-3 {
  font: normal 48px/63px 'MADE Soulmaze Brush';
  position: absolute;
  left: calc(75vw);
  top: calc(51vh);
  transform: matrix(0.97, -0.25, 0.24, 0.97, 0, 0);
}

.button {
  border: 1px solid #192022;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font: normal 25px/38px 'Poppins';
  letter-spacing: 0.03em;
  margin: 4px 2px;
  min-width: calc(100vw * 0.125);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button:hover {
  border: 1px solid #192022;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: inline-block;
  font: normal 25px/38px 'Poppins';
  letter-spacing: 0.03em;
  margin: 4px 2px;
  min-width: calc(100vw * 0.125);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button:active {
  border: 1px solid #192022;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font: normal 25px/38px 'Poppins';
  letter-spacing: 0.03em;
  margin: 4px 2px;
  min-width: calc(100vw * 0.125);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

.button-yellow {
  background: #FFBB01;
  color: #192022;
  width: 45%;
}

.button-white,
.button-black:active,
.button-yellow:active {
  background: white;
  color: #192022;
}

.button-black,
.button-white:active {
  background: #192022;
  color: white;
}

.top-button,
.top-button:hover,
.top-button:active {
  font: normal 32px/36.7px 'Cooper Black';
}

.content {
  font: normal 24px/42px 'Poppins';
  margin: auto auto;
  padding-bottom: calc(100vh * 0.50);
  width: 69%;
}

h2 {
  display: block;
  font: bold 56px/84px 'Poppins';
  margin: 0.83em 0;
}

h3 {
  display: block;
  font: 34px/39px 'Cooper Black';
  margin: 1em 0;
}

p {
  display: block;
  margin: 1em 0;
}

.learn-series {
  display: flex;
  font: normal 23px/36px 'Poppins';
  justify-content: space-between;
  margin: calc(100vh * 0.075) 0 calc(100vh * 0.2);
  text-align: center;
}

.flex-item {
  border-radius: 10px;
  padding: 0 1% 1%;
  width: 45%;
}

.learn-series-beginner {
  background: #FFBB01;
  color: #192022;
}

.learn-series-intermediate {
  background: #FF706E;
}

.real-series {
  display: flex;
  font: normal 24px/28px 'Poppins';
  justify-content: space-between;
  margin: calc(100vh * 0.075) 0 calc(100vh * 0.2);
}

.real-series-sas {
  background: #FF862E;
}

.real-series-poolup {
  background: #5481BF;
  text-align: center;
}

.bottom-button {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .nav {
    font: 20px 'Poppins';
    width: 60%;
  }
  
  .title {
    font: 600 25px/75px 'Poppins';
  }
  
  .title strong {
    font: bold 60px/75px 'Neutral Face';
  }
  
  .title-skill {
    visibility: hidden;
  }
  
  .button {
    font: normal 22px/34px 'Poppins';
  }
  
  .button-yellow {
    width: 90%;
  }

  .top-button,
  .top-button:hover,
  .top-button:active {
    font: normal 27px/32px 'Cooper Black';
    width: auto;
  }
  
  .content {
    font: normal 18px/38px 'Poppins';
    padding-bottom: calc(100vh * 0.10);
    width: 88%;
  }
  
  .learn-series {
    display: grid;
    font: normal 18px/27px 'Poppins';
    grid-row-gap: 1em;
    height: auto;
  }

  .flex-item {
    padding: 0 5% 5%;
    width: auto;
  }

  .real-series {
    display: grid;
    font: normal 18px/27px 'Poppins';
    grid-row-gap: 1em;
    height: auto;
  }

  .bottom-button {
    display: block;
    text-align: center;
  }
}